# API Configuration
VITE_API_BASE_URL=localhost:8000

# Google OAuth Client ID
# Lấy tại: https://console.cloud.google.com/ → APIs & Services → Credentials
VITE_GOOGLE_CLIENT_ID=1070673665720-a4a6qeq55nkm5grt0m65k4n0f23mcnv3.apps.googleusercontent.com
